{% extends "personal/headerOther.html"%}

{% block content %}
    <div class="background gallery-grid">      
        <div class="tile is-ancestor">
            <div class="tile is-parent is-4 is-vertical">         
                {% for post in object_list%}
                    <div class="tile is-child">
                        <a class="blog-link" href="{{post.id}}"> {{ post.title}} </a>
                        <div class="tile is-child">     
                            <img src="../{{post.cover}}" href="{{post.id}}" class="hover-shadow">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}