{% extends "personal/headerOther.html" %}

{% block content %}  

        <div class=background>
            <div class="tile is-parent">
                <div class="tile is-child">
                    <p class=>
                        Ciao, mi chiamo Riccardo e fotografo da quando non sapevo mi piacesse.<br>
                        Sono 2 anni che in ogni mio viaggio porto la mia fedele macchina fotografica per poter<br>
                        imprimere e documentare ciò che vedo.<br>
                        <br>
                        Il mio obbiettivo è di potervi far vedere il mondo come lo vedo io, e magari trasmettervi le stesse emozioni.
                    </p>
                </div>
            </div>
        </div>

{% endblock %}