{% extends "personal/headerOther.html" %}

{% block content %}  

        <div class=background>
            <div class="tile is-parent is-horizontal">
                <div class="tile is-child">
                    <p>
                        <b>Attrezzatura:</b><br>
                        <br>
                        Canon 700D <br><br>
                        18-55 DC III <br>
                        55-250 IS STM <br>
                        Prakticar Pentacon 50mm f/1.8 <br>
                    </p>
                </div>
                <div class="tile is-child">
                    <p>
                        Ciao, mi chiamo Riccardo e fotografo praticamente da sempre, ma solo da poco ho capito quanto mi piaccia.<br>
                        Sono 2 anni che in ogni mio viaggio porto la mia fedele macchina fotografica per poter<br>
                        imprimere e documentare ciò che vedo.<br>
                        <br>
                        Il mio obbiettivo è di potervi far vedere il mondo come lo vedo io, e magari trasmettervi le stesse emozioni.
                    </p>
                </div>
                
            </div>
        </div>

{% endblock %}